extends layout 

block content 
    aside(class="search container")
        h1= title
        h2 Buscar comandos...
        input(type="search", id="search-command", placeholder="Ingrese el comando a buscar")
    
    main(class="main container")
